<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container min-vh-100 p-5">
  <h1 style="text-align: center;"><%= title %></h1>
  <br>
  
  <table style="border-bottom-left-radius: 0%; border-bottom-right-radius: 0%;">
      <% for(let count = 0; count <  surveys.length; count++) { %>
        <% let expiryStr = "None" %>
        <% if(surveys[count].expiryDate) { %>
            <% expiryStr = surveys[count].expiryDate.toString().substr(0, 10) %>  
        <% } %>


        <tr>
            <td>
                <a href="/survey/respond/<%= surveys[count]._id %>"> <%= surveys[count].title %> </a>
            </td>
            <td>
                <p>Expiry Date: <%= expiryStr %></p>
            </td>
            <td class="col1">
                <a href="/survey/responses/<%= surveys[count]._id %>" class="btn btn-view btn-sml">Responses</a>
            </td>
            <td class="col2">
                <% if(surveys[count].visible) { %>
                    <a href="/survey/togglevisible/<%= surveys[count]._id %>" class="btn btn-sml btn-success">Public</a>
                <% } else { %>
                    <a href="/survey/togglevisible/<%= surveys[count]._id %>" class="btn btn-sml btn-danger">Private</a>
                <% } %>
            </td>
            <td class="col2">
                <% if(surveys[count].enabled) { %>
                    <a href="/survey/toggleenable/<%= surveys[count]._id %>" class="btn btn-sml btn-success">Enabled</a>
                <% } else { %>
                    <a href="/survey/toggleenable/<%= surveys[count]._id %>" class="btn btn-sml btn-danger">Disabled</a>
                <% } %>
            </td>
            <td class="col3">
                <a href="survey/edit/<%= surveys[count]._id %>" class="btn-edit"><i class="fas fa-pen"></i></a>
            </td>
            <td class="col4">
                <a href="survey/delete/<%= surveys[count]._id %>" class="btn-delete" id="deleteContact" name="deleteSurvay"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    <% } %>
  </table>
  <a href="/survey/create" class="btn btn-primary btn-new btn-line" style="border-top-left-radius: 0%; border-top-right-radius: 0%; font-size: 1.3rem; padding: 10px;"><i class="fa fa-plus"></i> Create a Survey</a>
</main>

    
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>