<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container min-vh-100 p-5">
    <div class="col-md-12 col-sm-10 justify-content-center pb-5">
        <div class="row text-center justify-content-center h1"><%= title %> for</div>
        <div class="row text-center justify-content-center survey-title h1"><%= response.surveytitle %></div>   
    </div>
    <br>

    <!-- not sure how to display this page to look professional yet, will come back to it -->
    <% for(let count = 0; count < response.answers.length; count++) { %>
    <% let question = response.answers[count].questiontext %>
    <% let answer = response.answers[count].answertext %>
    <div class="row justify-content-center text-center pb-1">
        <div class="col-md-8 col-sm-10">
            <div class="row">
                <h4><%= count+1 %>.&emsp;<%= question %></h4>
            </div>
            <div class="row">
                <% if(typeof answer !== "undefined" && answer.length > 0) { %>
                    <p><i><%= answer %></i></p>
                <% } else { %>
                    <i>No answer provided</i>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>

</main>

<script>

</script>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>