<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<main class="container min-vh-100 p-5">
    <div class="col-md-12 col-sm-10 justify-content-center pb-5">
        <div class="row text-center justify-content-center h1"><%= title %> for</div>
        <div class="row text-center justify-content-center survey-title h1"><%= survey.title %></div>   
    </div>
    <br>

    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-10">
            <div class="jumbotron jumbotron-fluid">
                <form class="form px-5" method="post" id="surveyForm">
                    <fieldset id="mainFieldset">
                        <input name="surveyTitle" value="<%= survey.title %> " hidden/>
                        <% for(let count = 0; count < survey.questionlist.length; count++) { %>
                            <% let question = survey.questionlist[count] %>
                            <% let questionGroupId = "questionGroup" + count %>
                            
                            <div class="form-group" id="<%= questionGroupId %>">
                                <div class="row">
                                    <%= question.text %>
                                    <input hidden name="questionText" value="<%= question.text %>">
                                </div>
                                <div class="row">
                                    <% if(question.type == "select") { %>
                                        <select id="answerinput<%= count %>" name="answerText" class="form-control" required>
                                            <!--nothing for this yet finish in another sprint-->
                                            <option value="default">Default</option>
                                        </select>
                                    <% } else if(question.type == "trueOrFalse") { %>  
                                            <input type="radio" id="answerinput<%= count %>" name="answerText" value="true">
                                            <label for="answerinput<%= count %>">True</label><br>
                                            <input type="radio" id="answerinput<%= count %>" name="answerText" value="false">
                                            <label for="answerinput<%= count %>">False</label><br>  
                                    <% } else { %>
                                        <input type="<%= question.type %>" id="answerinput<%= count %>" name="answerText" class="form-control" required/>
                                    <% } %>
                                </div>
                            </div>
                        
                        <% } %>
                    </fieldset>
        <div class="justify-content-center text-center pt-4">
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Submit</button>
            <a href="/survey" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
 
</script>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>